
@{
    ViewBag.Title = "About";
}

<h2>About</h2>

<div style="color:blue;font-size:larger;">
    This site is dedicated to Random Acts of Kindness and
    bringing together volunteers with the acts.
</div>